@charset "utf-8";
/**
html {
   font-size: 100%;
   font-family: Geneva;
   background: linear-gradient(to bottom, pink, white);
   font-size: 12px;
}

 body {
	color: gray;
	margin: 0;
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: center;
}

h1, h2 {
	
   	color: white;
	
}

.html5{

  border: solid, black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  background-color: blue;
  color: black;
 }

.html5:hover {
  background-color: white;
  color: gray;
}


.css{
  border: solid, black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  background-color: yellow;
  color: black;
	
}

.css:hover {
  background-color: gray;
  color: white;
}
*/
body {
  margin: 30px;
  font-family: courier;
  background-color: #F0F8FF; 
  color: #808080;
}
h1, h2, h3 {
	background-color: #E6E6FA;
	color: #808080;
	padding-top: 20px;
    padding-bottom: 20px;
	text-align: center;
}
main img {
	width: 25%;
	height: auto;
	text-align: center; 
}
figure {
	width: 100%;
	height: auto;
	text-align: center;
	margin: auto;
}
figcaption {
	font-style: italic;
	text-align: center;
}
p {
	text-align: center;
}
footer {
	text-align: center;
}
footer img {
	width: 88px;
	height: auto;
}
th, td {
	border: 1px solid black;
}
th {
	font-weight: bold;
	font-size: 30px;
}
td {
	font-size: 20px;
}
table {
	border: 3px solid black;
	margin: auto;
	width: 70%;
}
address {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
a:link {
  color: purple;
}

a:visited {
  color: green;
}

a:hover {
  color: orange;
}

a:active {
  color: white;
}

